:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --white: #fff;
    --cyan: #01ffff;
    --cyan-disabled: rgba(0, 162, 200, 0.24);
    --blue: #2b00ff;
    --persian-blue: #3333c9;
    --blue-disabled: rgba(0, 162, 200, 0.50);
    --linen-blue: #c9d7e2;
    --gray: #d5d5d5;
    --green: #07872e;
    --red: #b71a1a;

    color: var(--white)
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: no-repeat url("/background.png");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2.32px;
}

h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.28px;
}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 0 0 .5rem 0;
    background-color: var(--white);
    background-clip: padding-box;
    border: none;
    border-bottom: 3px solid var(--linen-blue);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    color: var(--blue);
    outline: none;
    box-shadow: none;
}

input[type="text"]::placeholder {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
}
