.card {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    border-radius: 27px;
    background: var(--white);
    box-shadow: 3px 3px 13px 0 rgba(0, 162, 200, 0.50);
    padding: 2.375rem 2rem 4rem;
}

@media screen and (min-width: 1000px) {
    .card {
        padding: 3.875rem 2.8125rem 5rem;
        min-width: 430px;
        max-width: 750px;
    }
}
